@{
    ViewBag.Title = "About";
}
<h2>Track listing with creation option</h2>
<h3>This page allows you to view tracks with details on it from a stored database as well as a function create button
    that allows you to review the information enetered</h3>

<p>
    The purpose of this webpage is for an introduction on web editing practicing with MVC, with use
    of navigational properties, using table settings and style formatting, using mappers, mapper definitions, html helpers, inheritance.
</p>