@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment5</h1>
    <p class="lead">Track list with details view and creation.</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment5.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About This Webpage</h2>
        <p>
            This webpage is made to demonstrate the ability to display Music Track information from
            a stored database, with some creation functions, navigation properties, mapping, html helpers, table creationg, etc.
        </p>

    </div>

</div>