@{
    ViewBag.Title = "About";
}
<h2>About This Webpage</h2>
<h3>Employee and Music Track Model View</h3>

<p>
    The purpose of this webpage is for an introduction on web editing practicing with MVC, with use
    of basic Employee and Music Track listing and editing
</p>