@{
    ViewBag.Title = "About";
}
<h2>About This Webpage</h2>
<h3>Phone Model View</h3>

<p>The purpose of this webpage is for an introduction on web editing practicing with MVC, with use
   of basic phone description    
</p>
