@{
    ViewBag.Title = "Assignment2";
}

<div class="jumbotron">
    <h1>Assignment2</h1>
    <p class="lead">Assignment 2 work</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment2.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="row">
        <div class="col-md-4">
            <h2>About This Current Webpage</h2>
            <p>
                Currently there are only a few working pages, as you notice at the top of the page there are a few
                buttons on the navigation menu. 
            </p>
          
        </div>
    </div>