@{
    ViewBag.Title = "About";
}
<h2>About This Webpage</h2>
<h3>Invoice view with customer, track and employee model details used.</h3>

<p>
    The purpose of this webpage is for an introduction on web editing practicing with MVC, with use
    of basic Employee, Music Track listing, customer details, invoice details editing with navigational properties, using table settings and style formatting.
</p>